.problem-translate-btn {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 12px;
  background: var(--main-orange);
  box-shadow: 0 4px 0 #A8864D;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.15s ease;
  padding: 0;
}

.problem-translate-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 0 #A8864D;
  background: #e69c4b;
}

.problem-translate-btn:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0 #A8864D;
}

.problem-translate-btn.active {
  background: #E69C4B; /* Just slightly different color to indicate state, but no pressed transform */
  /* Remove transform and inset shadow to let it pop back up */
}
