.repeat-slow-button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 12px;
  background: var(--main-orange);
  box-shadow: 0 4px 0 #A8864D;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease;
  padding: 4px;
}

.repeat-slow-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 0 #A8864D;
}

.repeat-slow-button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0 #A8864D;
}

.repeat-slow-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
