.location-badge {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    color: #555;
    background-color: white; /* Optional: background for badge */
    padding: 5px 10px;
    border-radius: 20px;
}

.pin-icon {
    margin-right: 5px;
    color: #F8B15E;
}
